/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 20px;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* INSTAGRAM LINK-BUTTON*/
.btn {
    background-color:lightgray;
    border: none;
    border-radius: 4px;
    color:brown;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(184, 229, 245);
  }

/* HOME */
#home {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)),url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
}

/* ABOUT */
.section-title {
    margin-bottom: 50px;
}

.section-title p {
    max-width: 1000px;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
}

/* GALLERY */
.gallery {
    background-color: #ECECEC;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.gallery::after {
    content: "";
    width: 30px;
    height: 30px;
    background:#DEDEDE;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.gallery:hover::after {
    width: 100%;
    height: 100%;
    background:rgb(240, 193, 235);
    z-index: -1;
}

.gallery:hover h5,
.gallery:hover p {
    color: white;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/contact.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    cursor: pointer;
    border-color: var(--c-brand);
}

#contact .btn{
    background-color: rgb(91, 91, 245);
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}